.h-100 {
	position: relative;
}

.card-image {
	height: 60%;
}

.watch-button {
	position: absolute;
	bottom: 45px;
	left: 0px;
}

.add-button {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.remove-button {
	position: absolute;
	bottom: 10px;
	left: 70px;
}